.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.gutter-10 > [class*='col-'] {
  padding-right:5px;
  padding-left:5px;
}

.gutter-20 > [class*='col-'] {
  padding-right:10px;
  padding-left:10px;
}


.black {
  color: #000;
}

.white {
  color: #fff;
}

.title-case {
  text-transform: none;
}