

/* Color Palette */
/* -------------------- */

$color_primary : #e83134;

$color_secondary : #e83134;

$bg_yellow : #FEEE35;

$bg_red : #e83134; 

$bg_grey_dark : #2D2D2D;

$bg_grey_light : #eaeaea;

$grey_dark : #2D2D2D;

$grey_medium : #5e5e5e; 

$grey_light : #a1a1a1;