#footer {

  background-color: #4c4c4c;
  color: whitesmoke;

  margin-top: 100px;

}

.footer {

  .legal {
    background-color: #333333;
    padding:20px;
  }

  .social-links {
    text-align: center;
    margin-left: 0;
    list-style: none;
    list-style-image: none;
    border-bottom: 1px solid #bbb;
    margin: 20px auto;
    height: 20px;

    li {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin: 8px 0 0 0;
      padding: 0 10px 0 0;
      background-color: $bg_grey_light;
      //background-color: red;
    }

  }

  .socials hr .style-one {

    color: $grey_medium;
    background-color: $grey_medium;
    border: 0;
    height: 1px;

  }

  a, a:hover, a:visited {
    color: $grey_medium;
  }

  h2 {
    color: $grey_light;
    font-size: 14px;

    text-transform: uppercase;
  }

  .menu a {
    color: $grey_light;
    font-size: 11px;

  }

}