<!-- about.tpl.html  -->

<section id="about">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <h1 id="page-title">About Us</h1>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


                <p>====== localstorage ==============================</p>

                <div ng-repeat="item in vm.content track by $index">
                    <strong >{{item.title[0].value}}</strong>

                    <p ng-bind-html="item.body[0].value"></p>
                    <hr>
                </div>



                <!--Localstorage: {{ vm.content | json }}-->





                <p>=======  API  =============================</p>

                <!--API Call: {{vm.live_content | json }}-->



                <div ng-repeat="item in vm.live_content track by $index">
                    {{item.title[0].value}}
                </div>


            </div>

        </div>

    </div>

</section>