


body {

    background-color: #f3f3ee;

}



.wrapper {
	background:#f3f3ee;
	max-width:100%;
	margin:0 auto;
	@media only screen and (min-width: 1200px) {
		max-width:1260px;
		margin:-5px auto;
		padding:20px 0
	}
	@media only screen and (min-width: 1440px) {
		max-width: 1440px;
	}

}
#promo-grid {
	.wrapper {
		padding-top:0;
	}
}
#promo-actions {
	.wrapper {
		padding-bottom:0; 
	}
}

