<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1>News</h1>

                <!--<pre>{{ vm.listings | json }}</pre>-->

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">


                <p>Display a list of the latest news stories from the content API.</p>


                <ul class="media-list">
                    <li class="media" ng-repeat="item in vm.listings track by $index">
                        <div class="media-left">
                            <a href="#">
                                <img ng-src="{{item.field_image[0].url}}" width="250px" class="media-object"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{item.title[0].value}}</h4>

                            <p ng-bind-html="item.body[0].value"></p>

                        </div>
                    </li>
                </ul>

            </div>


        </div>


    </div>
</section>